<!DOCTYPE html>
<html>
  <head>
    <title>Saludos</title>
  </head>
  <body>
    <img src="/img/noticias.png">
    <h1>Saludos</h1>
    <p>
      ¡Hola, <%= @name %>!
    </p>
    <ul>
      <% @potencias.each do |n| %>
        <li>
          <%= n %>
        </li>
      <% end %>
    </ul>
  </body>
</html>
